.btn-main{
        display: flex;
        align-items: center;
        cursor: pointer;
        background: #3867d6;
        color: white;
        height: 40px;
        border: none;
        outline: none;
        padding: 0px 15px;
        font-size: large;
}